<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Riode - Ultimate eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Riode - Ultimate eCommerce Template">
    <meta name="author" content="D-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/uploads/images/icons/favicon.png">

    <link rel="stylesheet" type="text/css" href="/uploads/vendor/fontawesome-free/css/all.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="/uploads/vendor/magnific-popup/magnific-popup.min.css">

    <link rel="stylesheet" type="text/css" href="/uploads/vendor/sticky-icon/stickyicon.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="/uploads/css/style.min.css">
</head>

<body>

    <div class="page-wrapper">
        <main class="main">
            <div class="page-content">
                <section class="coming-section container text-center text-grey font-primary ">
                    <div class="row align-items-center pt-10 pb-10">
                        <div class="col-md-6">
                            <img src="/uploads/images/subpages/coming-soon.jpg" alt="coming soon" width="519" height="568">
                        </div>
                        <div class="col-md-6 order-md-first">
                            <h1 class="mb-9 ls-m lh-1 font-italic text-uppercase">Coming Soon</h1>
                            <div class="countdown countdown-coming mb-7" data-format="DHMS" data-until="+10d"
                                 data-relative="true">00:00:00</div>
                            <hr class="mb-6 ml-8 mr-8">
                            <p>
                                We are currently working on an awesome new site. Stay tuned for more information.
                                Subscribe to our newsletter to stay updated on our progress.
                            </p>
                            <form action="#" class="ml-lg-8 mr-lg-8 mb-8">
                                <input type="email" class="form-control font-primary text-grey" name="email" id="email"
                                       placeholder="Enter Your Email Address" required="">
                                <button class="btn btn-primary btn-link btn-icon-right" type="submit">subscribe</button>
                            </form>
                            <div class="social-links">
                                <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
                                <a href="#" class="social-link social-twitter fab fa-twitter"></a>
                                <a href="#" class="social-link social-instagram fab fa-instagram"></a>
                                <a href="#" class="social-link social-pinterest fab fa-pinterest-p"></a>
                                <a href="#" class="social-link social-email far fa-envelope"></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </main>
        <!-- End Main -->
    </div>
    <!-- Scroll Top -->
    <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>

    <!-- sticky icons-->
    <div class="sticky-icons-wrapper">
        <div class="sticky-icon-links">
            <ul>
                <li><a href="#" class="demo-toggle"><i class="fas fa-home"></i><span>Demos</span></a></li>
                <li>
                    <a href="documentation.html"><i class="fas fa-info-circle"></i><span>Documentation</span></a>
                </li>
                <li>
                    <a href="https://themeforest.net/downloads/"><i class="fas fa-star"></i><span>Reviews</span></a>
                </li>
                <li>
                    <a href="https://d-themes.com/buynow/riodehtml">
                        <i class="fas fa-shopping-cart"></i><span>
                            Buy
                            now!
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="demos-list">
            <div class="demos-overlay"></div>
            <a class="demos-close" href="#"><i class="close-icon"></i></a>
            <div class="demos-content scrollable scrollable-light">
                <h3 class="demos-title">Demos</h3>
                <div class="demos">
                </div>
            </div>
        </div>
    </div>
    <!-- Plugins JS File -->
    <script src="/uploads/vendor/jquery/jquery.min.js"></script>
    <script src="/uploads/vendor/jquery.plugin/jquery.plugin.min.js"></script>
    <script src="/uploads/vendor/jquery.countdown/jquery.countdown.min.js"></script>
    <script src="/uploads/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/uploads/js/main.min.js"></script>
</body>
</html>